html,
body {
  background: #000;
  color: #FFF;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul,
li,
body,
canvas {
  margin: 0;
  padding: 0;
  list-style: none;
}

#map {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  display: block;
}

#waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 32px;
  margin: -16px 0 0 -180px;
  padding: 9px 0;
  font: bold 14px/1 Helvetica, Arial, Sans-serif;
  text-align: center;
}

#win {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 0;
}

.player {
  position: absolute;
  width: 260px;
  height: 108px;
  z-index: 128;
  display: none;
}

.player .cash {
  position: absolute;
  color: #FC0;
  font: 16px/1 Helvetica, Arial, Sans-serif;
}

.player .lives {
  position: absolute;
  color: #FFF;
  font: 16px/1 Helvetica, Arial, Sans-serif;
}

.player .add-robot-1 {
  position: absolute;
  width: 34px;
  height: 34px;
  display: block;
}

.player .launch-wave {
  position: absolute;
  background: url(/images/green-button.png);
  color: #A2FF00;
  width: 96px;
  height: 22px;
  font: 11px/24px Helvetica, Arial, Sans-serif;
  text-align: center;
  text-decoration: none;
  display: block;
}

.player .robot-1-count {
  position: relative;
  background: url(/images/robot-1.png) no-repeat;
  color: #FFF;
  width: 24px;
  height: 32px;
  padding: 0 0 0 34px;
  font: 13px/32px Helvetica, Arial, Sans-serif;
  display: block;
  cursor: default;
}

#player-1 {
  top: 4px;
  right: 4px;
}

#player-1 .cash {
  top: 46px;
  left: 38px;
}

#player-1 .lives {
  top: 70px;
  left: 38px;
}

#player-1 .add-robot-1 {
  top: 4px;
  left: 158px;
}

#player-1 .launch-wave {
  right: 6px;
  bottom: 6px;
}

#player-1 .robot-1-count {
  top: 10px;
  left: 94px;
}

#player-2 {
  bottom: 4px;
  left: 4px;
}

#player-2 .cash {
  top: 45px;
  left: 212px;
}

#player-2 .lives {
  top: 69px;
  left: 212px;
}

#player-2 .add-robot-1 {
  top: 2px;
  left: 72px;
}

#player-2 .launch-wave {
  left: 72px;
  bottom: 6px;
}

#player-2 .robot-1-count {
  left: 8px;
  top: 10px;
}
