html,
body {
  background: #000;
  color: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

ul,
li,
body,
canvas {
  margin: 0;
  padding: 0;
  list-style: none;
}

#map {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  display: block;
}

#hud {
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 8px;
  display: none;
}

#waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 32px;
  margin: -16px 0 0 -180px;
  padding: 9px 0;
  font: bold 14px/1 Helvetica, Arial, Sans-serif;
  text-align: center;
}

#win {
  position: fixed;
  bottom: 5px;
  right: 5px;
  border: 0;
}

.player {
  position: absolute;
  width: 260px;
  height: 108px;
  z-index: 128;
}

.player .cash {
  position: absolute;
  color: #FC0;
  font: 16px/1 Helvetica, Arial, Sans-serif;
}

.player .add-robot-1 {
  position: absolute;
  width: 34px;
  height: 34px;
  display: block;
}

#player-1 {
  top: 4px;
  right: 4px;
}

#player-1 .cash {
  top: 46px;
  left: 38px;
}

#player-1 .add-robot-1 {
  top: 4px;
  left: 158px;
}

#player-2 {
  bottom: 4px;
  left: 4px;
}

#player-2 .cash {
  top: 45px;
  left: 212px;
}

#player-2 .add-robot-1 {
  top: 2px;
  left: 72px;
}
